<h5 class="gv-pot-header">Top seeds</h5>

<div class="gv-pot-div-intro">
	Germany, Brazil, Portugal, Argentina,
	Belgium, Poland, France and Russia (host)
</div>


<div class="gv-table-wrapper drawn-group">

{{#each groups}}
	<div class="gv-group-table" data-strength-score="{{strengthScore}}" data-strength="{{strengthRating}}">
		<div class="gv-table-col-head {{strengthRating}}" data-strength="{{strengthRating}}">&nbsp;</div>
		<div class="gv-team-row header"><h4>{{groupName}}</h4>
		{{#if firstGroup}}
		<div class="gv-table-minor-header display-none-mobile">FIFA ranking</div>
		{{/if}}

		</div>
			{{>team}}
		</div>

{{/each}}

</div>


<div class="gv-table-wrapper results-group display-none">

{{#each groups}}

	<div class="gv-group-table" data-strength-score="{{strengthScore}}" data-strength="weak">
		<div class="gv-team-row header"><h4>{{groupName}}</h4>	
	</div>
		{{>orderedTeam}}
	</div>

{{/each}}

</div>


<div class="gv-rounds-wrapper r16 display-none">
<h4>Round of 16</h4>
	{{#each roundOf16}}
	<div class="gv-group-round r16" data-strength-score="{{strengthScore}}" data-strength="{{strengthRating}}">
		
			{{>roundTeam}}

	</div>
	{{/each}}

</div>



<div class="gv-rounds-wrapper qf display-none">
<h4>Quarter finals</h4>
	{{#each quarter}}
	<div class="gv-group-round qf" data-strength-score="{{strengthScore}}" data-strength="{{strengthRating}}">
		
			{{>roundTeam}}

	</div>
	{{/each}}

</div>

<div class="gv-rounds-wrapper sf display-none">
<h4>Semi finals</h4>
	{{#each semi}}
	<div class="gv-group-round sf" data-strength-score="{{strengthScore}}" data-strength="{{strengthRating}}">
		
			{{>roundTeam}}

	</div>
	{{/each}}

</div>


<div class="gv-rounds-wrapper final display-none">
<h4>Final</h4>
	
	<div class="gv-group-round final" data-strength-score="{{strengthScore}}" data-strength="{{strengthRating}}">
			{{finalist.Team}} v {{winner.Team}}

	</div>

</div>







