{{#each teamsOrdered}}​ 	
      	  <div class="gv-team-row gv-group-draw {{groupClass}} " data-team="{{teamName}}">
      	  	<span class="gv-team-text display-none" data-association="{{association}}">{{teamName}}</span>
      	  	<span class="gv-rank-text display-mobile  display-none" >{{#if groupClass}}(Q){{/if}}</span> 
      	  	<span class="gv-rank-text display-none-mobile  display-none" style="position:absolute; right: 12px; text-align:right;">{{#if groupClass}}Q{{/if}}</span>
      	  </div>
{{/each}}