
			<div class="gv-match-info">
              MATCH INFO HERE
            </div> 

            <div class="gv-match-teams">
              {{#each teams}}​ 	
      				<span class="gv-team-text" >{{Team}}</span>	
				{{/each}}
            </div>  





<!-- {{#each teamsOrdered}}​  
              <div class="gv-team-row {{#if seeded}}no-border{{/if}}  gv-group-result display-none" data-team="{{teamName}}">
             
                  <span class="gv-team-text " data-association="{{association}}">{{teamName}}</span>
                  <span class="gv-rank-text display-mobile " >(Q)</span> 
                  <span class="gv-rank-text display-none-mobile " style="position:absolute; right: 12px; text-align:right;">Q</span>
              </div>
{{/each}} -->
