.gv-pot-div-intro, .gv-pot-div{
	width:100%;
	height: 48px;
	padding-bottom:5px;
	font-size:16px !important;
}

.intro-note {	
    width: calc(100% - 20px);
    margin: 0;
	font-family: "Guardian Text Sans Web", Helvetica, Arial, sans-serif !important;
	font-size:13px;
	line-height:16px;
	color:#bdbdbd;
	@include mq(embedFiveEighty){
		width: 100%;
    	margin: 0 ;
	}

}

.gv-pot-header{
	// margin:0 0px;
	width:auto;
	font-family: "Guardian Text Sans Web", Helvetica, Arial, sans-serif !important;
    font-size: 13px;
    font-weight: 700;

	@include mq(embedFiveEighty){
		font-size: 13px;
		margin: 0;
	}
}

.gv-pot-item{
	display:inline-block;
	text-align:left;
	padding-right:12px;
}

.gv-pot-div-intro, .gv-pot-item{
	font-family:"Guardian Text Sans Web", Helvetica, Helvetica, Arial, sans-serif;
	font-size:13px;
	line-height: 22px;
	height:auto;
}

.gv-pot-div-intro{
	margin:0;
	width: calc(100% - 20px);
	@include mq(embedFiveEighty){
		margin: 0;
	}
}

.fifty-pc{
	color:#ccc;
}
