@import "mq";
@import "fonts";

// Uncomment for embeds
@import "embed";
@import "potStyles";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

$ani-delay:0.5s;

$comment-support-1: #7d7569;
$graphics-dark-blue:rgb(0, 87, 137);
$news-main-2: #4bc6df;
$news-support-3: #69d1ca;
$news-support-6: #63717a;
$neutral-1:#333333; 
$neutral-2:#767676; 
$neutral-3:#bdbdbd; 
$neutral-4:#dcdcdc; 
$neutral-5:#eaeaea; 
$neutral-6:rgb(248,248,248);

//red - yellow - warm neutrals #1
$accent-color: #FFCC00;
$neutral: #e8e8e8;
$strength-text-color: #800c0c;

// clean blue and yellow
// $accent-color: rgb(252, 221, 3); //#ff5b3a; 
// $neutral: rgb(223,223,223);
// $strength-text-color: $news-support-6;

//more accent color #2
$strongest:  rgba($accent-color, 1);
$strong:  rgba($accent-color, 0.6);
$balanced: rgba($accent-color, 0.3);
// $balanced:  rgba($neutral, 0.4);
$weak: rgba($accent-color, 0.15);
$weakest: rgba($comment-support-1, 0.3);

// //more blue #3
// $strongest:  rgba($accent-color, 1);
// $strong:  rgba($news-main-2, 0.6);
// $balanced: rgba($news-main-2, 0.4);
// // $balanced:  rgba($neutral, 0.4);
// $weak: rgba($news-main-2, 0.2);
// $weakest: rgba($news-main-2, 0.1);

//more green #3
// $strongest:  rgba($accent-color, 1);
// $strong:  rgba($news-support-3, 0.6);
// $balanced: rgba($news-support-3, 0.4);
// // $balanced:  rgba($neutral, 0.4);
// $weak: rgba($news-support-3, 0.2);
// $weakest: rgba($news-support-3, 0.1);


$button: $accent-color;


.element-atom,
.interactive-atom {
    margin: 0 !important;

}

body{
	background-color:#FFF;
}

.gv-pot-header, .gv-pot-div-intro{
	background-color:#FFF !important;
}

.gv-wrapper{
	height:100%;
	margin-bottom: 48px;
	min-height: 632px;
	background-color: #FFF;
	@include mq(embedFiveEighty){
		min-height: 420px;
	}

	@include mq(embedSevenEighty){
		min-height: 420px;
	}

	.right-align{
		margin-top: 3px;
		text-align:right;
		float:right;
		@include mq(embedFiveEighty){
			text-align: left;
			width:30px;
		}

		@include mq(embedSevenEighty){
			text-align: right;
			width:auto;
		}
	}

	.left-align{
		text-align:left;
	}

	.right-align-small{
		margin-top: 3px;
		text-align:right;
		float:right;
		@include mq(embedFiveEighty){
			text-align: right;
			width:24px;
		}

		@include mq(embedSevenEighty){
			text-align: right;
			width:auto;
		}
	}

}


.gv-table-wrapper{
	height:auto;
	

}

.gv-table-minor-header{
	position: absolute;
	margin: 0;
	width:auto;
	top: 18px;
    left: 84px;
	font-family: "Guardian Text Sans Web", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 14px;
	text-align:right;
	@include mq(embedFiveEighty){
		right:12px;
		top: 33px;
		width:60px;
	}
	
	@include mq(embedSevenEighty){
		width:auto;
		top: 48px;
	}


}

.gv-group-table{
	position: relative;
	display:block;
	width: 100%;
	float: none;
	border-bottom: 1px solid #FFF;
	height:auto;	
	min-height:56px;
    margin: 0;
    padding: 12px 8px 0;
    background-color: $balanced;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;

	@include mq(embedFiveEighty){
		height: 160px;
		width: calc(25% - 25px);
		float: left;
		padding: 8px 12px 12px;
		border-bottom:1px solid #FFF ;
		border-right:1px solid #FFF ;
		    		
	}	
}


.strongest{
    	transition-delay:$ani-delay; 
		background-color:  $strongest; 
	}
.strong{
		transition-delay:$ani-delay; 
	    background-color: $strong; 
	}
.balanced{
		transition-delay:$ani-delay; 
		background-color: $balanced;
	}
.weak{
		transition-delay:$ani-delay; 
		background-color: $weak;
	}
.weakest{
		transition-delay:$ani-delay; 
		background-color: $weakest;
	}

.neutral{
		background-color: $neutral;
	}



.gv-team-text{
	font-family: "Guardian Text Sans Web", "Helvetica", Helvetica, Arial, sans-serif;
	font-size:12px;
	@include mq(embedThreeEighty){
		font-size: 14px;
	}
	
}

.gv-rank-text{
	font-family: "Guardian Text Sans Web", "Helvetica", Helvetica, Arial, sans-serif;
	font-size:10px;
	margin: 0 5px 0 0;
	@include mq(embedThreeEighty){
		font-size: 12px;
		margin: 0 5px 0 0;
	}
	
}


.gv-team-row{
		display:block;
		width:auto;
		height:16px;
		border: none;
		margin:0;
		float: left;
		

		@include mq(embedFiveEighty){
				display:inline-block;
				width:100%;
				height:24px;
				display:block;
				border-top: 1px dotted #333;
				padding: 0;

				&.header{
				border:none;
				margin-bottom:6px;
					h4{
						margin: 0;
						width:auto;
						font-size:18px;
					}
			}
		}

		&.header{
			border:none;
			margin-top:0px;
			margin-bottom:6px;
			width:320px;
			float: none;
			font-family: "Guardian Egyptian Web", Georgia, serif;
			
				h4{
					margin: 0;
					width:auto;
					
					font-size:21px;

				}

			@include mq(embedFiveEighty){
				width:auto;
				float: left;
				clear: both;
				margin-top:33px;
				font-family: "Guardian Egyptian Web", Georgia, serif;
				font-size: 16px;
				
			}
		}

}

.no-border{
    border:none;
}

		
		.gv-caption{
			margin-top: 3px;
			font-family:"Guardian Text Sans Web", Helvetica, Arial, sans-serif;
			font-size: 12px;
			line-height: 14px;
		}

		.gv-row-txt{
			
			width: auto;
			height:16px;
			font-family: "Guardian Egyptian Web",Georgia,serif;
			font-size: 16px;
			margin: 0 0 100% 0;
			padding:0;
		}


.gv-table-col-head{
	position: absolute;
    right: 30px;
    top: 9px;
	font-family:"Guardian Text Sans Web", Helvetica, Arial, sans-serif !important;
	font-size: 16px;
	font-weight:700;
	margin-top: 3px;
	color:#fff;
	text-align:right;
	width: auto !important;

	&.weak, &.weakest, &.balanced,  &.strong, &.strongest{
		background-color:rgba(#FFFFFF, 0) !important;
		color:rgba($strength-text-color,0.8);
	}

	&.balanced{
		// color:$neutral-3;
	}

	// &.weakest, &.weak{
	// 	color: $neutral-4 !important;
	// }

	// &.balanced{
	// 	color: $neutral-3 !important;
	// }

	//   &.strong, &.strongest{
	// 	color: $neutral-2 !important;
	// }

	// &.strongest{
	// 	color: #000;
	// }

	@include mq(embedFiveEighty){
		top: 9px;
		left:12px;
		text-align:left;
	}
}






.gv-start-button{
	width: 180px;
	height:36px;
	padding-top:12px;
	margin: 12px 0 24px;
	border-radius:1000px;
	background-color: rgba($button, 0.8);
	font-family: "Guardian Egyptian Web", Georgia, serif;
	font-size: 20px;
	font-weight:900;
	text-align:center;
	color:#222;
	margin-left: calc(50% - 90px);
	cursor:pointer;

	&.animated{
		-moz-animation:  colorchange 6s infinite;
		-webkit-animation:  colorchange 6s infinite;
		animation:  colorchange 6s infinite;
	}
}


@keyframes colorchange
    {
      0%   {background: rgba($button, 1);}

      50%  {background: rgba($button, 0.4);}
  
      100% {background: rgba($button, 1);}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: rgba($button, 1);}

      50%  {background: rgba($button, 0.4);}
  
      100% {background: rgba($button, 1);}
    }

    @-moz-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: rgba($button, 1);}

      50%  {background: rgba($button, 0.4);}
  
      100% {background: rgba($button, 1);}
    }

.gv-start-button:hover{
	background-color: rgba($button, 1);

	-moz-animation:  none;
	-webkit-animation:  none;
	animation:  none;
}

.display-mobile{
	display:inline-block;
	@include mq(mobileLandscape){
		display:none;
	}
}


.display-none-mobile{
	display:none;
	@include mq(mobileLandscape){
		display:inline-block;
	}
}

.no-margin{
	margin: 0 !important;
}

.display-none{
	display:none;
}





