@import "mq";
@import "fonts";

// Uncomment for embeds
@import "embed";
@import "potStyles";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

$strongest: #c45185;
$strong: #eabfd2;
$balanced: #EFEFEF;
$weak: #bce0f3;
$weakest: #4696ca;
$neutral: #e8e8e8;
$button: #b72166;

.element-atom,
.interactive-atom {
    margin: 0 !important;

}

body{
	background-color:#FFF;
}

.gv-wrapper{
	height:100%;
	margin-bottom: 48px;

	.right-align{
		margin-top: 3px;
		text-align:right;
		float:right;
		@include mq(embedFiveEighty){
			text-align: left;
			width:30px;
		}

		@include mq(embedSevenEighty){
			text-align: right;
			width:auto;
		}
	}

	.left-align{
		text-align:left;
	}
}

.gv-pot-div{
	margin-bottom:12px;
}


.gv-table-wrapper{
	height:auto;
}

.gv-group-table{
	position: relative;
	display:block;
	width: 100%;
	float: none;
	min-height:72px;
    margin: 0;
    padding: 12px;
    background-color: $neutral;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
   
    &.strongest{
    	transition-delay:2s; 
		background-color:  $strongest; 
	}
	&.strong{
		transition-delay:1.5s; 
	    background-color: $strong; 
	   
	}
	&.balanced{
		transition-delay:1s; 
		background-color: $balanced;
	}
	&.weak{
		transition-delay:0.5s; 
		background-color: $weak;
	}
	&.weakest{
		transition-delay:0s; 
		background-color: $weakest;
	}

	&.neutral{
		background-color: $neutral;
	}

	@include mq(embedFiveEighty){
		height: 160px;
		width: calc(25% - 24px);
		float: left;
		    		
	}

	
}



.gv-team-row{
		display:inline-block;
		width:auto;
		border: none;
		margin:0;
		padding:0 6px 0 0;
		float: left;

		&.header{
			border:none;
			margin-bottom:6px;
			h4{
				margin: 0;
				width:auto;
				float: left;
				font-size:21px;

			}
		}

		@include mq(embedFiveEighty){
				width:100%;
				display:block;
				border-bottom: 1px dotted #CCC;
				padding: 0;

				&.header{
				border:none;
				margin-bottom:6px;
					h4{
						margin: 0;
						width:auto;
						float: left;
						font-size:18px;
					}
				}
			}

		}
		
		.gv-caption{
			margin-top: 3px;
			font-family:"Guardian Text Sans Web", Helvetica, Arial, sans-serif;
			font-size: 12px;
			line-height: 14px;
		}

		.gv-row-txt{
			font-family: "Guardian Egyptian Web",Georgia,serif;
			font-size: 16px;
			width: auto;
			margin:0;
			padding:0;
		}


.gv-table-col-head{
	position: absolute;
    right: 12px;
	font-family:"Guardian Text Sans Web", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight:900;
	margin-top: 3px;
	color:#fff;
	&.balanced, &.weak{
		color:#767676;
	}

	@include mq(mobileLandscape){
		position:relative;
		left:0;
	}
}




.gv-start-button{
	width: 180px;
	height:36px;
	padding-top:12px;
	margin: 12px 0 24px;
	border-radius:1000px;
	background-color: $button;

	text-align:center;
	font-size: 20px;
	color:#FFF;
	margin-left: calc(50% - 90px);

	cursor:pointer;
}

.display-mobile{
	display:inline-block;
	@include mq(mobileLandscape){
		display:none;
	}
}


.display-none-mobile{
	display:none;
	@include mq(mobileLandscape){
		display:inline-block;
	}
}

.no-margin{
	margin: 0 !important;
}

.display-none{
	display:none;
}





